<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: open sans, helvetica neue, helvetica, arial; color: #414040">
    <div style="text-align: center">
      <div style="margin-bottom: 2em;
        border: 1px solid #dedbdb;
        width: 60%;
        margin-left: 20%;
        padding: .5em 1.5em;
        text-align: left;">

        Unsubscribe url:
        <%= link_to 'Unsubscribe', cancel_subscription_url(@subscriber.delete_token) %>
      </div>
    </div>
  </body>
</html>
